In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv('heart.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
x = data.drop(['target'], axis = 'columns')
y = data['target']

In [6]:
print(x)
print(y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [9]:
print(X_train.shape, X_test.shape, y_test.shape,y_train.shape)

(242, 13) (61, 13) (61,) (242,)

ACCURACY SCORE

In [ ]:
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [20]:
def comparing_train_test_data():
    
    for model in models:
        model.fit(X_train, y_train)
        X_trained_predicting = model.predict(X_train)
        Accuracy_score = accuracy_score(y_train, X_trained_predicting)
        print('Accuracy score of ',model, Accuracy_score)
        print('----------')

In [21]:
comparing_train_test_data()

Accuracy score of  LogisticRegression(max_iter=1000) 0.859504132231405
----------
Accuracy score of  SVC(kernel='linear') 0.8553719008264463
----------
Accuracy score of  KNeighborsClassifier() 0.756198347107438
----------
Accuracy score of  RandomForestClassifier() 1.0
----------

CROSS VALIDATION

In [25]:
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [29]:
def coparing_cv_score():

    for model in models:
        CV_score = cross_val_score(model, x,y, cv=5)
        cv_ave = sum(CV_score)/len(CV_score)
        print('Cross validation score :', model, CV_score)
        print('Average of cv_score: ',cv_ave)
        print('__________________')

In [30]:
coparing_cv_score()

Cross validation score : LogisticRegression(max_iter=1000) [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Average of cv_score:  0.8282513661202187
__________________
Cross validation score : SVC(kernel='linear') [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Average of cv_score:  0.8283060109289618
__________________
Cross validation score : KNeighborsClassifier() [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Average of cv_score:  0.643879781420765
__________________
Cross validation score : RandomForestClassifier() [0.83606557 0.8852459  0.80327869 0.81666667 0.76666667]
Average of cv_score:  0.8215846994535518
__________________