In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier

In [3]:
data = load_iris()

In [4]:
dir(data)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [18]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [5]:
iris_data = pd.DataFrame(data.data, columns = data.feature_names)
iris_data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
iris_data['target'] = data.target

In [7]:
iris_data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:
x = iris_data.drop(['target'],axis='columns')
y = iris_data.target

In [9]:
print(x)
print(y)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]
0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [14]:
y.value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [10]:
 X_train, X_test, y_train, y_test = train_test_split(x,y, test_size =0.2, random_state=42)

In [11]:
models={
    "Logistic regerssion": LogisticRegression(max_iter=500),
    "K-Nearest Neighbors":KNeighborsClassifier(),
    "Support vector machine":SVC(probability=True),
    "Decision Tree":DecisionTreeClassifier(),
    "Random forest":RandomForestClassifier(),
    "Gradient Bossiting":GradientBoostingClassifier(),
    "Naive bayes":GaussianNB(),
    "Xg boost":XGBClassifier(use_label_encoder=False,eval_metric='logloss')
}

In [12]:
results={}
for name,model in models.items():
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)


    acc=accuracy_score(y_test,y_pred)
    report=classification_report(y_test,y_pred,output_dict=True)

    results[name]={
    "Accuracy":acc,
    "precision":report['weighted avg']['precision'],
    "recall":report['weighted avg']['recall'],
    "F1-score":report['weighted avg']['f1-score']
    }

C:\Users\talla\AppData\Roaming\Python\Python312\site-packages\xgboost\training.py:183: UserWarning: [20:15:22] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

In [13]:
df_results=pd.DataFrame(results).T
print(df_results)

                        Accuracy  precision  recall  F1-score
Logistic regerssion          1.0        1.0     1.0       1.0
K-Nearest Neighbors          1.0        1.0     1.0       1.0
Support vector machine       1.0        1.0     1.0       1.0
Decision Tree                1.0        1.0     1.0       1.0
Random forest                1.0        1.0     1.0       1.0
Gradient Bossiting           1.0        1.0     1.0       1.0
Naive bayes                  1.0        1.0     1.0       1.0
Xg boost                     1.0        1.0     1.0       1.0

In [19]:
input_data = (5.1, 3.5, 1.4, 0.2)
input_data_array = np.array(input_data)
input_data_reshape = input_data_array.reshape(1,-1)
prediction = model.predict(input_data_reshape)

if prediction == 0:
    print('setosa')
elif prediction ==1:
    print('versicolor')
else:
    print('virginica')

setosa

In [20]:
import pickle

In [ ]:
filename ='LR.pkl'
pickle.dump(model, open(filename,'wb'))